{%extends 'bayes/base.html'%}
{%block body_block%}

<div class="jumbotron">


  <h1>Index of my homepage</h1>
  <h3>Welcome to my homepage!</h3><br>
  <h3>This page is dedicated to graphically and interactively demonstrate the application of different data analysis techniques. One part of the
  page will deal will Bayesian Statistic. The other part will explore various Machine Leanring algorithm and how they fare versus classic frequentist
inferences. Please don't hesitate to contact me for questions, comments, critics etc.</h3><br><h3> Thanks for your interest! </h3>

</div>

{%endblock%}
